<form [formGroup]="form" (ngSubmit)="log(form)">
  <div class="form-group">
    <label for="oldpasswd">Old Password</label>
    <input formControlName="oldpasswd"
      type="password"
      id="oldpasswd"
      class="form-control">
      <div *ngIf="oldpasswd.touched && oldpasswd.invalid" class="alert alert-danger">
            <div *ngIf="oldpasswd.errors.required">Current password is required!</div>
            <div *ngIf="oldpasswd.errors.shouldMatchOldPasswd">Current password doesn't match!</div>
      </div>
  </div>
  <div class="form-group">
    <label for="newpasswd">New Password</label>
    <input formControlName="newpasswd"
      type="password"
      id="newpasswd"
      class="form-control">
      <div *ngIf="newpasswd.touched && newpasswd.invalid" class="alert alert-danger">
            <div *ngIf="newpasswd.errors.required">New password is required!</div>
      </div>
  </div>
  <div class="form-group">
    <label for="confirmpasswd">Confirm Password</label>
    <input formControlName="confirmpasswd"
      type="password"
      id="confirmpasswd"
      class="form-control">
      <div *ngIf="confirmpasswd.touched && confirmpasswd.invalid" class="alert alert-danger">
            <div *ngIf="confirmpasswd.errors.required">Confirm password is required!</div>
      </div>
      <div *ngIf="confirmpasswd.touched && form.invalid && form.errors.mismatch && confirmpasswd.valid" class="alert alert-danger">
        confirm password not match!
      </div>
  </div>
  <p>
    {{ form._value | json}}
  </p>
  <button class="btn btn-primary">change Password</button>
</form>
