<!--<div *ngIf="courses.length > 0; then listOfCourses else noCourses">
</div>
<ng-template #listOfCourses>
  List of Courses
</ng-template>
<ng-template #noCourses>
  No courses yet
</ng-template>-->
<!--<div [hidden]="courses.length == 0">
  List of courses
</div>
<div [hidden]="courses.length > 0">
  No courses yet
</div>-->
<button (click)="loadCourses()">Load Courses</button>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse">
    {{course.name}}
    <button (click)="onRemove(course)">Remove</button>
    <button (click)="onChange(course)">Change</button>
  </li>
</ul>
